@import 'nib/vendor'
@import 'nib/gradients'

vendor-prefixes = o ms moz webkit official

blanco = #fff
colormain = #1E90FF
azulfuert = #054172
azul-turquesa = #61CCE2
negro = #000
azul = #025895

html
	font-size 16px
	font-family Lato

.navbar-mio
	margin-top 20px !important
	margin-bottom 0px !important
	
.jumbotron
	background url(../img/ponch.jpg) no-repeat center center
	width 100%
	height 500px
	background-size cover


.marginado
	color red
	text-decoration line-through
	position relative
	left 40%

.margintop100
	padding-top 60px

.paddingbottom70
	padding-bottom 70px

.claridadimg
	position relative
	padding-top 20px
	width 55%
	height auto
	left 25%

.botonsolicitar
	background colormain
	color blanco
	//position absolute
	width 80%
	margin 0 auto

.tiempo
	font-size 25px
	color negro
	font-family Lato
	text-align center
.calmante
	font-size 18px
	color negro
	font-family Lato
	text-align center

.sombrapanel
	border-radius: 10px
	box-shadow 3px 3px 5px rgba(0,0,0,0.75)
	height 400px
	
.precio
	width 50%
	//position relative
	color colormain
	box-shadow 0px 0px 15px 0px
	font-size 23px
	font-family Lato
	text-align center
	margin 0 auto
	//left 30%
	

.bajito
	height 7px
	background azulfuert
	box-shadow 3px 3px 3px rgba(0,0,38,.7)
	margin 25px 0

.copyright
	color blanco
	font-size 18px
	font-weight bold
	font-family Open Sans, sans-serif
	text-shadow  2px 2px 5px rgba(0,12,125,.7)
	
.changesize
 	font-size 6em !important

.hidden-web
	display block
	
.backlogoslider
	background-color rgba(255,255,255,.9)
	border-radius 10px
.modifychange	
	width	 50%
	height auto
	
.navbar-collapse
	padding-right 0px
	padding-left 0px
	background transparent
	
	
	ul.navbar-nav
		width 100%
		
		li
			width 100%
			text-align center
			border-bottom 1px solid rgba(230,230,230,.7)
			
			a.menu
				border-bottom 5px solid #fff
				color colormain
				font-size 24px
				font-family Open Sans, sans-serif
				font-weight bold
				transition all 0.5s ease-out 0s
				margin-bottom 10px
    				
			a.menu:hover
				border-bottom 5px solid #333
				color #333
				background none

.navbar-toggle
	background colormain

.icon-bar
	background blanco
	

/** why */

.why
	h1
		color azulfuert
		font-size 40px
		text-shadow  2px 2px 5px rgba(0,0,0,.7)
	h2
		color colormain
		font-size 22px
	.policies
		color azulfuert
		font-size 20px
		
	span
		color colormain
		i
			font-size 7em
			
		.whoinfo	
			font-size 3em
		p
			color azulfuert
			font-size 16px
			
	h3
		font-size 18px	
		text-shadow  2px 2px 5px rgba(30,144,255,.7)
		text-align justify
		padding-top 5px
		padding-bottom 5px
	
	.privacy
		font-size 28px	
		text-shadow  2px 2px 5px rgba(30,144,255,.7)
		text-align justify
		padding-top 5px
		padding-bottom 5px	
		
	p
		font-size 16px
			

/** contact */

#resultado
	margin-top 30px

.error
	color #a94442 !important
	border 1px solid #a94442 !important

.warning
	color #8a6d3b !important
	border-color 1px solid #8a6d3b !important

.alert
	padding 15px
	margin-bottom 20px
	border 1px solid transparent
	border-radius 4px

.success
	color #3c763d !important
	border 1px solid #3c763d !important

.errorSpan
	color #a94442
	border-color #ebccd1
	font-size 10px
	font-weight bold
	position absolute
	margin-top -18px

.img-circle{
	margin-top 60px
}

.relcontact
	h1
		color azulfuert
		margin-left 28px
		text-shadow  2px 2px 3px rgba(0,0,0,.7)
		margin-bottom 15px

	.form-group
		.captcha-resultado
			
			.newsize,.lineachi
				color colormain
				text-shadow  1px 1px 2px rgba(0,0,0,.7)
			.newsize
				font-size 20px
			.lineachi
				font-size 16px
				color blanco
				font-family Lato
				padding 5px
				width 50%
				box-shadow: 1px 1px 2px rgba(0,0,0,.7)
				margin 10px 0
				background colormain
				border-radius 5px
				text-align center
				position relative
		.botoncontact
			background colormain
			color blanco


.quitapadding
	padding-left 0
	padding-right 0
footer
	background linear-gradient(top,azul-turquesa,colormain)
	
	.footercol
		h2
			color blanco
			text-align center
			
		.alineadotemas2
			li
				display inline-block
				width 25%
				padding-top 5px
				padding-bottom 5px

		.alineadotemas
			li
				padding-top 5px
				padding-bottom 5px
				list-style none
				text-align left
				a
					color blanco
					font-size 20px
					cursor pointer
					text-decoration none !important
					transition all 0.5s ease-out 0s
					
				a:hover
					color azul
					text-shadow 3px 3px 5px rgba(255,255,255,.7)
				
@media only screen and (min-width: 992px) and (max-width: 1200px) 
	.hidden-web
		display none
		
	.modifychange	
		width	 20%
		height auto
		
	.navbar-collapse
		ul.navbar-nav
			width 100%
			li
				width 33%
				text-align center	
	footer
		.footercol
			h2
				text-align left
	
@media only screen and (min-width: 1201px)
	.hidden-web
		display none
		
	.modifychange	
		width	 20%
		height auto	
	
	.navbar-collapse
		ul.navbar-nav
			width 100%
			li
				width 33%
				text-align center
	
	footer
		.footercol
			h2
				text-align left

.img-full-width
	width 100%
.img-logo
	width 100px
.padding-top-bottom
	padding 15px 0 15px 0
.margin-top-bottom
	padding 15px 0 15px 0
.img-thumbnail-product
	max-width 125px !important