ul {
    list-style-type: none;
    margin: 0;
    padding: 0;    
}

li {
    display: inline;
}

.topmenu-part {
    float: left;
    margin: 0px;
}

.topmenu-font {
	font-family: sans-serif;
	font-size: medium;
}

.topmenu {
	display: inline;
	margin: 0;
    padding: 0;
}

