@font-face {
    font-family: "Cinzel";
    src: url("https://hairtru.com/fonts/Cinzel-Regular.otf");
}
@font-face {
    font-family: "Noticia";
    src: url("https://hairtru.com/fonts/NoticiaText-Regular.ttf");
}
@font-face {
    font-family: "PermianSans";
    src: url("https://hairtru.com/fonts/PermianSansTypeface.otf");
}
@font-face {
    font-family: "PermianSlab";
    src: url("https://hairtru.com/fonts/PermianSlabSerifTypeface.otf");
}
html {
    overflow-y: scroll;
}
* {
    font-family: "Lato",sans-serif;
}
p, ul {
    color: #333;
    font-size: 17px;
    letter-spacing: 0.5px;
    line-height: 1.75em;
    margin-bottom: 20px;
}
h1, h2, h3, h4, h5, h6 {
    color: #054172;
    font-family: "Roboto Slab",serif;
    font-weight: 900;
    margin-bottom: 5px;
    margin-top: 25px;
}
a {
    color: #1e90ff;
    font-weight: bold;
    transition: all 0.5s ease-out 0s;
}
a:hover {
    color: #333;
}

input,select {
    line-height: normal;
    width: 70%;
    height: 33px;
}

input, button {
    line-height: normal;
    padding: 8px;
    width: 70%;
}
button.button {
    background: none repeat scroll 0 0 #1e90ff ;
    color: #fff;
}
button.button:hover {
    background: none repeat scroll 0 0 #1e90ff;
}
.button {
    background: none repeat scroll 0 0 #1e90ff;
    font-size: 20px;
    font-weight: normal;
}
.button:hover {
    background: none repeat scroll 0 0 #1e90ff;
}
.no-mobile {
    display: block;
}
.mobile-only {
    display: none;
}
.small-mobile {
    display: none;
}
.videoWrapper {
    height: 0;
    padding-bottom: 56.25%;
    padding-top: 25px;
    position: relative;
}
.videoWrapper iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.woocommerce span.onsale, span.onsale {
    background: none repeat scroll 0 0 #ed008c;
    font-size: 24px;
    left: 1px;
    padding: 16px;
    top: 184px;
}
.woocommerce input.input-text {
    padding: 15px;
}
table.cart input {
    line-height: normal;
}
form.checkout input.input-text, .woocommerce input.input-text {
    padding: 15px;
}
.order-actions .button {
    background: none repeat scroll 0 0 #ed008c;
}
.order-actions .button:hover {
    background: none repeat scroll 0 0 #ed008c;
}
.product_header {
    border-bottom: 0 none;
}
div.product .product_title {
    margin-bottom: 0;
}
.pricebox {
    border-bottom: 0 none;
    border-top: 0 none;
}
div.product .product_meta {
    border-top: 0 none;
}
.summary .product_price del, .price del {
    margin-right: 0;
}
.page-header {
    border-bottom: 0 none;
    border-top: 0 none;
}
.product_item .product_price {
    color: #333;
    display: block;
    font-size: 24px;
    min-height: 120px;
}
.savings {
    font-size: 18px;
    font-weight: bold;
}
.product_price del .amount {
    color: #ccc;
    display: block;
    font-size: 20px;
    line-height: 2em;
    text-decoration: line-through;
}
.product_price ins .amount {
    color: #1e90ff;
    display: block;
    font-size: 32px;
    font-weight: bold;
    line-height: 1em;
}
.product_item .kad_add_to_cart {
    background: none repeat scroll 0 0 #054172;
}
.product_item .kad_add_to_cart:hover {
    background: none repeat scroll 0 0 #054172;
}
.product_item:hover .kad_add_to_cart:hover {
    background: none repeat scroll 0 0 #054172;
}
.product_item:hover .kad_add_to_cart {
    background: none repeat scroll 0 0 #054172;
}
a.added_to_cart {
    background: none repeat scroll 0 0 #054172;
    color: #fff;
}
table.cart input {
    font-size: 20px;
    padding: 12px 18px;
}
.kad-btn:hover {
    background: none repeat scroll 0 0 #eee;
}
table.cart td.actions .coupon .input-text {
    line-height: normal;
    padding: 15px;
    width: 200px;
}
.cart-collaterals .shipping_calculator .button {
    color: #333;
    font-size: 20px;
}
.cart-collaterals .shipping_calculator {
    width: 100%;
}
#payment #place_order {
    background: none repeat scroll 0 0 #1e90ff;
}
#payment #place_order:hover {
    background: none repeat scroll 0 0 #1e90ff;
}
.product .kad_add_to_cart {
    background: none repeat scroll 0 0 #1e90ff;
    text-transform: none;
}
.product .entry-summary .kad_add_to_cart {
    line-height: inherit;
    padding: 12px 18px;
}
.headerfont {
    font-family: "Lato",sans-serif;
}
.woocommerce-message .button {
    background: none repeat scroll 0 0 #ed008c;
    padding: 12px 18px;
}
.woocommerce-message .button:hover {
    background: none repeat scroll 0 0 #ed008c;
}
.woocommerce-message:before {
    color: #ed008c;
}
td.product-name {
    font-size: 24px;
}
.woocommerce table.cart a.remove, .woocommerce-page table.cart a.remove, .woocommerce #content table.cart a.remove, .woocommerce-page #content table.cart a.remove {
    color: #333;
}
.woocommerce table.cart a.remove:hover, .woocommerce-page table.cart a.remove:hover, .woocommerce #content table.cart a.remove:hover, .woocommerce-page #content table.cart a.remove:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #333;
}
.login .form-row .button {
    background: none repeat scroll 0 0 #ed008c;
}
.login .form-row .button:hover {
    background: none repeat scroll 0 0 #ed008c;
}
#commentform .form-submit #submit {
    background: none repeat scroll 0 0 #ed008c;
    font-size: 20px;
}
#commentform .form-submit #submit:hover {
    background: none repeat scroll 0 0 #ed008c;
}
#topcontrol {
    display: none;
}
.topclass {
    background: none repeat scroll 0 0 #fff;
    margin-bottom: 0;
    margin-top: 10px;
}
.topbarmenu ul li a {
    color: #333;
    font-size: 14px;
    margin-left: 20px;
    padding: 10px;
}
.topbarmenu ul li a:hover, .topbarmenu ul li.sf-dropdown:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.kad-nav-collapse {
}
.logofont {
    font-family: "Lobster",cursive;
}
#logo a.brand {
    color: #ed008c;
    font-size: 30px;
    transition: all 0.5s ease-out 0s;
}
#logo a.brand:hover {
    color: #333;
}
#nav-second {
    border-bottom: 1px solid #f5f5f5;
    /*text-transform: uppercase;*/
}
#nav-second ul.sf-menu > li {
    width: 33.3%;
}
#nav-second ul.sf-menu a {
    letter-spacing: 2px;
}
#nav-second ul.sf-menu > li:hover, #nav-second ul.sf-menu > li.active {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.sf-menu a {
    border-bottom: 5px solid #fff;
    color: #1E90FF;
    font-weight: bold;
    transition: all 0.5s ease-out 0s;
}
#nav-second ul.sf-menu a:hover {
    border-bottom: 5px solid #333;
    color: #333;
}
.kad-btn-primary {
    background: none repeat scroll 0 0 #ed008c;
    font-size: 20px;
}
.kad-btn:hover {
    background: none repeat scroll 0 0 #ed008c;
}
.footerclass {
    background: none repeat scroll 0 0 #f2f2f2;
}
#containerfooter h3, #containerfooter {
    color: #054172;
}
.footercredits {
    float: left;
}
.footercredits p {
    color: #000;
    font-size: 16px;
}
.footerclass a {
    color: #1e90ff;
    font-weight: bold;
    transition: all 0.5s ease-out 0s;
}
.footerclass a:hover {
    color: #333;
}
#containerfooter .menu {
    margin-left: 5px;
}
#containerfooter .menu li a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline;
    margin: 0;
    max-width: none;
    padding: 0;
    transition: all 0.5s ease-out 0s;
}
#containerfooter .menu li a:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #333;
}
#containerfooter .menu li a:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.nav-trigger .nav-trigger-case {
    display: block;
    position: static;
    width: 100%;
}
@media (max-width: 992px) {
.no-mobile {
    display: none;
}
.mobile-only {
    display: block;
}
}
@media (max-width: 767px) {
.container {
    padding: 0 15px;
}
}
@media (max-width: 450px) {
.small-mobile {
    display: block;
}
}


.error {
  color: #a94442 !important;
  /*background-color: #f2dede !important;*/
  border: 1px solid #a94442 !important;
}

.errorSpan {
  color: #a94442;
  border-color: #ebccd1;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  margin-top: -18px;
}
}

.captcha-resultado{
    background-color: #fff;
    border-radius: 5px;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
    margin-left: 16px;
}
.captcha-resultado > .newsize{
    font-size: 12px;
    font-weight: normal;
    text-decoration: underline;
}
.warning {
  color: #8a6d3b !important;
  /*background-color: #fcf8e3 !important;*/
  border-color: 1px solid #8a6d3b !important;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.success {
  color: #3c763d !important;
  /*background-color: #dff0d8 !important;*/
  border: 1px solid #3c763d !important;
}

div.ui-datepicker {
    font-size: 47.5%;
    z-index: 99999;
}

.lineachi{
	background-color: #1E90FF;
	border-radius: 5px;
	padding: 3px;
	width: 50%;
	color: #fff;
	font-size: 18px;
	font-weight: bolder;
	margin-bottom: 5px;
	position: relative;
	margin-top: 5px;
	left: 10%;
	text-align: center;
}