@import 'nib/vendor'
@import 'nib/gradients'
color_blanco = #fff
color_negro = #000
color_main = #1E90FF
color_mainhover = #333

vendor-prefixes = o ms moz webkit official


.navbar-saaskiin
	background color_blanco
	border-radius 0px
	
	.container 
		.navbar-collapse .navbar-nav
			width 100%
			border-bottom 1px solid #f5f5f5

			li
				width 33.3%

				a
					color color_main
					transition border-bottom
					font-size 24px
					font-weight 500
					transition border-bottom .5s ease-in-out
					
					&:hover
						border-bottom 5px solid color_mainhover
						color color_mainhover
						background none

		.navbar-header button span
			background color_main


.reservado
	color red

footer
	background #f2f2f2
	
	ul.social
		float left
		padding-left 0px
		
		li
			list-style none
			display inline-block
	ul.menu
		float left
		padding-left 0px
    		
    		
		li
			width 100%
			list-style none
			a
				text-decoration none
				cursor pointer
				color color_main
				font-size 20px
				font-weight 500
				&:hover
					text-decoration none

	.block-footer-section
		p
			a
				text-decoration none
				cursor pointer
				color color_main
				font-size 20px
				font-weight 500
				&:hover
					text-decoration none


@media screen and (max-width:600px)
	.navbar-saaskiin
		.container 
			.navbar-collapse .navbar-nav
				li
					width 100%




